---
layout: default
permalink: /404.html
---

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Sorry...
      </h1>
      <br>
      <h2 class="subtitle">
        We got lost. Click <a href="/"><strong>here </strong></a>to go back home.
      </h2>
    </div>
  </div>
</section>