---
layout: default
---

<section class="hero is-medium about-hero">
  <div class="hero-body">
    <div class="container">
      <h1 style="color:white;" class="title is-1">
        Our Story
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
        <p>Interface Supply Management LLC was founded in May 2019 in order to provide Clinical Supply Chain Consulting Services for small to mid-size pharmaceutical companies. In January 2020, the company launched S3Interface as a web ordering and inventory management software. S3Interface was created by a Clinical Trial Supply Manager for Clinical Trial Supply Managers in order to alleviate some of the challenges that come along with managing clinical drug supply.  There was a need for an alternative tool to manage supplies outside of traditional IRT/IWRS systems. Most companies who couldn’t afford to or justify using IRT/IWRS services were forced to manage ordering supplies manually.</p>
      </div>
      <br>
  </section>
  <hr>
  <section class="section">
  <div class="container">
        <h2 style="text-align: center;" class="title is-2">Why S3?</h2>
        <br>
        <div class="tile is-ancestor">
          <div class="tile is-parent is-vertical">
            <div class="tile is-child">
            <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Stilling filling out paper request forms</p>
            <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Having difficulty tracking orders</p>
          </div>
        </div>
                  <div class="tile is-parent is-vertical">
          <div class="tile is-child">
            <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Wondering if IP was received in good standing</p>
            <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Trouble retrieving Temperature Data </p>
          </div>
        </div>
                  <div class="tile is-parent is-vertical">
          <div class="tile is-child">
            <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Tracking depot inventory on spreadsheets</p>
            <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;No visibility of site's inventory to determine resupply</p>
          </div>
          </div>
        </div>
      </div>
    </section>