---
layout: default
---
<section class="hero is-medium contact-hero">
  <div class="hero-body">
    <div class="container">
      <h1 style="color:white;" class="title is-1">
        Contact Us
      </h1>
    </div>
  </div>
</section>
<!-- Form -->
<section class="section">
    <div id="home-form" class="container">

<div style="max-width: 600px; text-align: center; margin: auto; padding-bottom: 25px;">
      <h2 class="subtitle">
        Questions? We'd love to hear from you.
      </h2>
  </div>



<form class="form" name="contact-form" method="POST" data-netlify="true">

<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" name="name" placeholder="Name...">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input" type="email" name="email" placeholder="Email...">
  </div>
</div>

<div class="field">
  <label class="label">Phone</label>
  <div class="control">
    <input class="input" type="tel" name="phone" placeholder="Phone Number...">
  </div>
</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Message..."></textarea>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button type="submit" class="button is-primary is-large">Submit</button>
  </div>
</div>
      </div>
    </section>
