---
layout: default
---

<section class="hero is-medium services-hero">
  <div class="hero-body">
    <div class="container">
      <h1 style="color:white;" class="title is-1">
        Services
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns">
  <div class="column is-two-fifths">
    <h2 class="title fade"> S3 Interface Provides</h2>
</div>
  <div class="column">

    <p class="title is-5">Replace your manual paper forms with a web based tool</p>
    <br>

    <div class="tile is-ancestor">
  <div class="tile is-parent is-vertical">
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Inventory Management</p>
    </div>
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Drug Accountability</p>
    </div>
  </div>
  <div class="tile is-parent is-vertical">
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Drug Traceability</p>
    </div>
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Drug Allocation</p>
    </div>
  </div>

  <div class="tile is-parent is-vertical">
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;24 Hour Support</p>
    </div>
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Reporting</p>
    </div>
  </div>
</div>

  <div class="tile is-ancestor">
<div class="tile is-parent">
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;User roles for Sponsors, Depots, and Sites to fully complete the drug order cycle. Making sure that all IP was controlled as per GMP standards.</p>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child">
<p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Electronic Drug Order Management</p>
    </div>
  </div>
</div>

      
  </div>
</div>

</div>
</section>
<hr>

<section class="section">
  <div class="container">

    <div class="columns">
  <div class="column is-two-fifths">
    <h2 class="title fade"> Interface Supply Management Consultants Provide</h2>
</div>
  <div class="column">

    <p class="title is-5">Whether it’s for 5, 10, 20 hours or more a week, it maybe the resource and relief you need</p>

    <br>

    <div class="tile is-ancestor">
  <div class="tile is-parent is-vertical">
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Following SOPs and maintaining a high standard of quality</p>
    </div>
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Vendor Management including packaging/labeling facilities and distribution depots</p>
    </div>
  </div>
  <div class="tile is-parent is-vertical">
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Forecasting and inventory management</p>
    </div>
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Proactively identifying solutions to potential supply chain issues</p>
    </div>
  </div>

  <div class="tile is-parent is-vertical">
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Expertise in developing effective supply strategies</p>
    </div>
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Managing end to end supply chain activities for global clinical trials</p>
    </div>
  </div>
</div>

  <div class="tile is-ancestor">
<div class="tile is-parent">
    <div class="tile is-child">
      <p class="subtitle is-6"><i class="fas fa-check-square"></i>&nbsp;Years of experience managing Clinical Supplies for all phases and types of Clinical Trials including open, blinded, and double blinded studies</p>
    </div>
  </div>
</div>

      
  </div>
</div>

</div>
</section>