<footer class="footer">
  <div class="content has-text-centered">
  	<a href="https://facebook.com/" target="_blank">
          <span class="icon" style="color: #4C4C4C;">
            <i class="fab fa-facebook fa-lg"></i>
          </span>
      </a>
      </p>
    <p>
      © 2020 S3
	</p>
      
  </div>
</footer>