<header>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.baseurl }}/">
      <img src="/images/logo.png" width="auto" height="auto">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>



  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-end">


      <a href="/services" class="navbar-item">
        <i class="fas fa-stream"></i>&nbsp;&nbsp;Services
      </a>

      <a href="/about" class="navbar-item">
        <i class="fas fa-newspaper"></i>&nbsp;&nbsp;About
      </a>

      <a href="/contact" class="navbar-item">
        <i class="fas fa-handshake"></i>&nbsp;&nbsp;Contact
      </a>


      <div class="navbar-item">
        <div class="buttons">
          <a href="/#request-demo" class="button is-primary">
            Request a Demo
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

  	</div>
</header>