// Hero BG IMG

.hero-home {
  @extend .hero;
  background-image: url('/images/home-hero.jpg');
}

.has-bg-img { 

	background-image: url('/images/home-hero.jpg');
	background-position:center;
	background-size:cover;
}

.about-hero { 

	background-image: url('/images/about-hero.jpg');
	background-position:center;
	background-size:cover;
}

.services-hero { 

	background-image: url('/images/services-hero.jpg');
	background-position:center;
	background-size:cover;
}

.contact-hero { 

	background-image: url('/images/contact-hero.jpg');
	background-position:center;
	background-size:cover;
}


// Hero Text Box

.hero-text-box {
	background-color: rgba(0, 0, 0, 0.55);
	padding: 25px;
	max-width: 450px;
	margin-left: 35px;
	margin-top: 40px; 
	display: block;
	text-align: left;
	color: white;
	border-radius: 4px;
}

.hero-img-title {
	font-size: 2rem;
	color: white;
	font-weight: bold;
}

.hero-img-subtitle {
	font-size: 1.2rem;
	color: white;
}

// Mobile Hero
.mobile-hero-img {
	@include desktop {
	display: none;
	}
	@include tablet {
	display: none;
	}
}
.mobile-has-bg-img {
	background-image: url("/images/bg-stone.jpg");
	background-repeat: repeat;
	text-align: center;
	position: relative;
	display: none;

	@include mobile{
	display: inline-block;
	}
}
.mobile-hero-title {
	font-size:1.2rem;
	color: white;
	font-weight: bold;
}
.mobile-hero-subtitle {
	font-size:.8rem;
	color: white;
}

// Mobile Hero Button / Container

.hero-container {
  position: relative;
  display: none;

  @include mobile {
  display: inline-block;
  }
}

.is-mobile-hero {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
