---
title: S3Interface
description: 
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

<section class="hero is-primary is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="hero-img-title" >
        Drug Supply Innovation for Simpler Clinical Trials
      </h1>
      <h2 class="hero-img-subtitle">
        Interface Supply Management provides resources to help support your Clinical Trial Supply needs whether it’s their individuals with many years of supply management experience or their technology tool that assists with supply chain logistics.
      </h2>
      <br>
      <button onclick="window.location.href = '#request-demo';" class="button is-light is-large">Request Demo</button>
    </div>
  </div>
</section>


<section class="section">
 <div class="container">

  <h3 class="subtitle is-4"> Clinical Studies such as Phase I, Phase II, or Phase IIB are not always in need of a full IRT/IWRS system. However, without an IRT or IWRS system, making drug ordering and inventory tracking easier, efficient, and electronic may not be easy. Until now…

If this sounds like what you’ve been searching for, then S3 maybe the solution for you.</h3>
<br>
<br>
<br>

  <div class="columns">
  <div class="column is-three-fifths">
    <h2 class="title"> Supply Ordering Platform </h2>
    <p>
Let’s you electronically submit supply orders from 
CMO to P&L Vendor, Depot to Depot, or Depot to Site 
Without having to fill out a Manual Material Request Form.</p>
</div>
  <div class="column">
    <img src="/images/screenshot.png">
  </div>
</div>
<br>
<br>
<div class="columns">
  <div class="column is-two-fifths">
    <img src="/images/screenshot.png">
  </div>
  <div class="column">
    <h2 class="title">Drug Inventory Tracking</h2>
    <p>
Allows you to track your clinical supplies 
at depots and clinical sites. Lots can be
managed as non-protocol specific bulk 
or protocol specific finish goods. 
</p>
</div>
</div>


 </div>
  </section>

  <hr>

  <section class="section">
  <div class="container">
    <h2 class="title">Rethinking Clinical Trial Supply Ordering</h2>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title is-4">Platform</p>
      <div class="content">
      <p>A state of the art system that combines electronic ordering with inventory management.</p>
    </div>

    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title is-4">Support</p>
      <div class="content">
      <p>S3 offers 24/7/365 support specialist to assist with the system.</p>
    </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title is-4">Difference</p>
      <div class="content">
        <p>Why fill out time consuming manual forms or guess when the site needs more drug. Let our database make drug supply ordering easier and faster.</p>
      </div>
    </article>
  </div>
</div>
</section>

<!-- Form -->
<section class="section">
    <div id="request-demo" class="container">

<div style="max-width: 600px; text-align: center; margin: auto; padding-bottom: 25px;">
      <h1 class="title">
        Request a Demo
      </h1>
      <h2 class="subtitle">
        Fill out the form below to set up a free demo
      </h2>
  </div>



<form class="form" name="home-demo-form" method="POST" data-netlify="true">

<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" name="name" placeholder="Name...">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input" type="email" name="email" placeholder="Email...">
  </div>
</div>

<div class="field">
  <label class="label">Phone</label>
  <div class="control">
    <input class="input" type="tel" name="phone" placeholder="Phone Number...">
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button type="submit" class="button is-primary is-large">Submit</button>
  </div>
</div>




</form>
</div>
</section>
<!-- End Form -->

	

</div>
        {{ content }}

    {%- include footer.html -%}

<script> document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});</script>
  </body>

</html>